<div class="btn_wrap">
    <ul>
        <li class="on">
            <a href="/" class="ico_home">
                <span class="blind">홈</span>
            </a>
        </li>
        <li>
            <a href="/triplist" class="ico_maps">
                <span class="blind">지도</span>
            </a>
        </li>
        <li>
            <a href="/chat" class="ico_chat">
                <span class="blind">채팅</span>
            </a>
        </li>
        <li>
            <a href="/myPage" class="ico_my">
                <span class="blind">나의 정보</span>
            </a>
        </li>
    </ul>
</div>
