<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>일정 생성</title>
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
        <link rel="stylesheet" href="../public/css/reset.css" />
        <link rel="stylesheet" href="../public/css/common.css" />
        <link rel="stylesheet" href="../public/css/calendar.css" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="wrap" class="calendar">
            <!-- 헤더 -->
            <header class="mo_header">
                <nav class="gnb">
                    <ul class="sub_menu">
                        <li>
                            <a href="#none" class="ico_back">
                                <span class="blind">뒤로 가기</span>
                            </a>
                        </li>
                        <li>
                            <a href="#none" class="ico_ham">
                                <span class="blind">메뉴</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!--// 헤더 -->

            <!-- 공통 - 사이드 메뉴 -->
            <!-- <%- include('sidemenu.ejs') %> -->
            <!--// 공통 - 사이드 메뉴 -->

            <div class="main">
                <!-- 달력 일자 선택 -->
                <div class="container_calendar">
                    <div class="calendar_box">
                        <div id="year">
                            <select id="selectYear" aria-placeholder="연도"></select>
                        </div>
                        <div id="month">
                            <select id="selectMonth" aria-placeholder="월"></select>
                        </div>
                    </div>
                    <div id="departure"></div>
                    <div id="arrive"></div>
                    <div id="calendar"></div>
                    <button type="button" onclick="selectDep()" class="btn" id="selectDep">출발일 선택</button>
                    <button type="button" onclick="selectArr()" class="btn hide" id="selectArr">도착일 선택</button>
                </div>
                <!--// 달력 일자 선택 -->

                <!-- 여행 일정 선택 -->
                <div class="container_schedule hide">
                    <div class="date_box">
                        <div class="depDate dep_date"></div>
                        <i class="ico_back"></i>
                        <div class="arrDate"></div>
                    </div>
                    <button type="button" onclick="selectReset()" id="selectReset" class="btn">다시 선택</button>
                    <form id="schedule-form">
                        <div class="input_txt">
                            <label for="groupName">일정명</label>
                            <input type="text" id="groupName" placeholder="일정명" />
                        </div>
                        <div class="input_txt">
                            <label for="memberSearch">멤버 추가</label>
                            <div class="input_wrap">
                                <input type="text" id="memberSearch" placeholder="아이디 입력" />
                                <button class="btn_holder btn_search" id="searchBtn"></button>
                            </div>
                            <div class="search_result"></div>
                        </div>
                        <div class="input_txt">
                            <label for="groupMemo">메모</label>
                            <textarea name="" id="groupMemo" cols="30" rows="10" placeholder="메모"></textarea>
                        </div>
                        <button type="button" onclick="register()" class="btn">등록</button>
                    </form>
                </div>
            <!--// 여행 일정 선택 -->
            </div>
        </div>
        <script src="../public/js/calendar.js"></script>
        <!-- 공통 - 사이드 메뉴 -->
        <!-- <script src="../public/js/sidemenu.js"></script> -->
    </body>
</html>
