<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>체크리스트</title>
        <link rel="stylesheet" href="../public/css/reset.css" />
        <link rel="stylesheet" href="../public/css/common.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <form id="checklist-form">
            <h3>여행이름</h3>
            <div>
                <input type="checkbox" class="checklist" id="check01" name="check01" />
                <label for="check01">리스트01</label>
            </div>
            <div>
                <input type="checkbox" class="checklist" id="check02" name="check02" />
                <label for="check02">리스트02</label>
            </div>
            <div>
                <input type="checkbox" class="checklist" id="check03" name="check03" />
                <label for="check03">리스트03</label>
            </div>
            <div>
                <input type="checkbox" class="checklist" id="check04" name="check04" />
                <label for="check04">리스트04</label>
            </div>
            <div>
                <input type="checkbox" class="checklist" id="check05" name="check05" />
                <label for="check05">리스트05</label>
            </div>
        </form>
    </body>
</html>
