<footer id="footer">
    <ul>
        <li>
            <div>
                <h3>Time Travel</h3>
                <p>대표자<span>Thrip 공동대표</span></p>
                <p>사업자등록번호<span> 2024-333</span></p>
                <p>통신판매업신고번호<span>2024-서울마포-0311</span></p>
                <address>주소<span>서울특별시 마포구 숭문 4길 6</span></address>
                <p>개인정보보호책임<span>Thrip 구성원</span></p>
            </div>
        </li>
        <li>
            <div>
                <a href="#none">TimeTravel 회원 이용약관</a>
                <a href="#none">TimeTravel 이용약관</a>
                <a href="#none">개인정보처리방침</a>
                <a href="#none">위치기반 서비스이용약관</a>
                <a href="#none">보험보증안내</a>
                <a href="#none">제휴/광고 문의</a>
            </div>
            <div>
                <p>COPYRIGHT © TIMETRAVEL ALL RIGHT RESERVED.</p>
            </div>
        </li>
    </ul>
    
</footer>