<header class="header mo_header">
    <nav class="gnb">
        <h1>
            <a href="/">
                <img src="../public/img/common/logo.png" alt="" />
            </a>
        </h1>
        <a href="javascript:location.href = document.referrer" class="ico_back">
            <span class="blind">뒤로 가기</span>
        </a>
        <ul class="main_menu">
            <li><a href="/triplist">내 여행</a></li>
            <li><a href="/chat">채팅</a></li>
            <li><a href="#none">소개</a></li>
        </ul>
        <ul class="sub_menu">
            <li>
                <ul class="login_wrap">
                    <li class="login_off">
                        <a href="/login" class="info_txt">로그인</a>
                    </li>
                    <li class="login_off">
                        <a href="/signup" class="info_txt">회원가입</a>
                    </li>
                    <li class="login_on hide"><a href="/myPage" class="info_txt username_txt"></a></li>
                    <li class="login_on hide">
                        <a href="#none" onclick="logoutFunc()" class="info_txt">로그아웃</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="ico_ham">
                    <span class="blind">메뉴</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
