<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인</title>
        <link rel="stylesheet" href="../public/css/reset.css" />
        <link rel="stylesheet" href="../public/css/common.css" />
        <link rel="stylesheet" href="../public/css/member.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="wrap" class="login_page">
            <!-- 헤더 -->
            <header class="mo_header">
                <nav class="gnb">
                    <ul class="sub_menu">
                        <li>
                            <a href="#none" class="ico_back">
                                <span class="blind">뒤로 가기</span>
                            </a>
                        </li>
                        <li>
                            <a href="#none" class="ico_ham">
                                <span class="blind">메뉴</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!--// 헤더 -->

            <!-- 공통 - 사이드 메뉴 -->
            <%- include('sidemenu.ejs') %>
            <!--// 공통 - 사이드 메뉴 -->

            <!-- 컨텐츠 -->
            <main class="main">
                <h1>Time Travel<br />로그인</h1>
                <form id="login-form">
                    <label for="userId">아이디</label>
                    <input type="text" id="userId" placeholder="아이디를 입력하세요" />
                    <label for="pw">비밀번호</label>
                    <input type="password" id="pw" placeholder="비밀번호를 입력하세요" />
                    <button type="button" class="btn" onclick="loginFunc()">로그인</button>
                </form>
                <ul class="login_wrap">
                    <li><a href="/find">아이디/비밀번호 찾기</a></li>
                    <li><a href="/signup">회원가입</a></li>
                </ul>
            </main>
            <!--// 컨텐츠 -->
        </div>
        <!-- 공통 - 사이드 메뉴 -->
        <script src="../public/js/sidemenu.js"></script>
        <script>
            (() => {
                if (localStorage.getItem('userId')) {
                    document.querySelector('#userId').value = localStorage.getItem('userId');
                    localStorage.removeItem('userId');
                }
            })();
            async function loginFunc() {
                const res = await axios({
                    method: 'POST',
                    url: '/api/member/login',
                    data: {
                        userId: document.querySelector('#userId').value,
                        pw: document.querySelector('#pw').value,
                    },
                });
                if (res.data.success) {
                    alert(`${res.data.result}님 환영합니다!`);
                    localStorage.setItem('token', res.data.token);
                    document.location.href = '/';
                } else {
                    alert(res.data.message);
                }
            }
        </script>
    </body>
</html>
