<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인</title>
        <link rel="stylesheet" href="../public/css/reset.css" />
        <link rel="stylesheet" href="../public/css/common.css" />
        <link rel="stylesheet" href="../public/css/member.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>TIme Travel<br />로그인</h1>
        <form id="login-form">
            <label for="userId">아이디</label>
            <input type="text" id="userId" placeholder="아이디를 입력하세요" />
            <label for="pw">비밀번호</label>
            <input type="password" id="pw" placeholder="비밀번호를 입력하세요" />
            <button type="button" class="btn" onclick="loginFunc()">로그인</button>
        </form>
        <script>
            async function loginFunc() {
                const res = await axios({
                    method: 'POST',
                    url: '/api/member/login',
                    data: {
                        userId: document.querySelector('#userId').value,
                        pw: document.querySelector('#pw').value,
                    },
                });
                if (res.data.success) {
                    alert(`${res.data.result}님 환영합니다!`);
                    localStorage.setItem('token', res.data.token);
                    document.location.href = '/';
                } else {
                    alert(res.data.message);
                }
            }
        </script>
    </body>
</html>
