<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>지도</title>
        <link rel="stylesheet" href="../public/css/reset.css" />
        <link rel="stylesheet" href="../public/css/common.css" />
        <link rel="stylesheet" href="../public/css/calendar.css" />
        <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d29150c8d61268b1089ff06b57ed40dc&libraries=services"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div id="schedule-form">
                <div class="detail-scheduel">
                    <div class="index">1</div>
                    <input type="time" id="arrTime" />
                    <input id="place_name" />
                    <input type="button" onclick="keyword()" value="검색" />
                    <div
                        class="map hide"
                        style="width: 100vw; height: 350px"
                    ></div>
                    <a href="#" id="select"></a>
                    <input type="text" id="detailMemo" placeholder="메모" />
                </div>
            </div>
            <button type="button" onclick="insert()" class="btn btn_addtrip">
                일정 추가하기
            </button>
            <button type="button" onclick="register()" class="btn">
                장소 등록
            </button>
        </div>

        <script src="../public/js/map.js"></script>
    </body>
</html>
