<!-- 사이드 메뉴 : 마이 페이지 -->
<div class="menu_side">
    <a href="" class="btn btn_close">
        <span class="blind">닫기 버튼</span>
    </a>
    <!-- 마이페이지 : 사용자 정보  -->
    <div class="container_myinfo">
        <div class="my_photo">
            <img src="../public/img//common/img_myphoto.png" alt="" />
        </div>
        <div class="my_info">
            <div class="info_txt">로그인/회원가입</div>
            <button class="btn btn_retouch" onclick="editFunc()" hidden>개인정보 수정</button>
        </div>
    </div>
    <!--// 마이페이지 : 사용자 정보  -->

    <!-- 마이 페이지 : 메뉴 리스트 -->
    <div class="container_mylist">
        <ul>
            <li>
                <div>
                    <a href="/triplist">
                        내 여행 일정
                        <i class="ico_accord"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/chat">
                        채팅
                        <i class="ico_accord"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#none">
                        일정
                        <i class="ico_accord"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#none">
                        Time Travel 소개
                        <i class="ico_accord"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <button type="button" onclick="logoutFunc()" class="btn_logout" hidden>로그아웃</button>
    <!--// 마이 페이지 : 메뉴 리스트 -->
</div>
<!--// 사이드 메뉴 : 마이 페이지 -->
<script>
    (async function () {
        const info = document.querySelector('.my_info');
        const myName = document.querySelector('.menu_side .info_txt');
        const editBtn = document.querySelector('.btn_retouch');
        const logoutBtn = document.querySelector('.btn_logout');
        if (!localStorage.getItem('token')) {
            editBtn.hidden = true;
            logoutBtn.hidden = true;
            info.addEventListener('click', () => {
                document.location.href = '/login';
            });
        } else {
            try {
                const res = await axios({
                    method: 'GET',
                    url: '/api/member/find',
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('token')}`,
                    },
                });
                editBtn.hidden = false;
                logoutBtn.hidden = false;
                myName.textContent = res.data.result.username;
            } catch (error) {
                editBtn.hidden = true;
                localStorage.clear();
                info.addEventListener('click', () => {
                    document.location.href = '/login';
                });
            }
        }
    })();
    function editFunc() {
        document.location.href = '/myPage';
    }
    function logoutFunc() {
        localStorage.clear();
        document.location.reload();
    }
</script>
