<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>일정 리스트</title>
        <link rel="stylesheet" href="../public/css/reset.css" />
        <link rel="stylesheet" href="../public/css/common.css" />
        <link rel="stylesheet" href="../public/css/trip.css" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="wrap" class="trip_detail">
            <!-- 헤더 -->
            <header class="mo_header">
                <nav class="gnb">
                    <ul class="main_menu">
                        <li>
                            <a href="#none" class="ico_back">
                                <span class="blind">뒤로 가기</span>
                            </a>
                        </li>
                        <li>
                            <a href="#none" class="ico_ham">
                                <span class="blind">메뉴</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!--// 헤더 -->
            <!-- 컨텐츠 -->
            <div class="main">
                <div class="main_txt">
                    <h3>부산여행</h3>
                    <button class="btn btn_chklist">체크리스트</button>    
                </div>
    
                <!-- 여행 일정 상세 목록 -->
                <div class="container_tripdetail">
                    <ul>
                        <li class="on">
                            <div class="list_detail">
                                <a href="#none">
                                    <strong>부산역</strong>
                                    <span>09:00</span>
                                    <i class="ico_accord"></i>
                                </a>
                                <div class="map_cnt">
                                    <div class="maps">
                                        <img src="../public/img//main/img_ex.png" alt="">
                                    </div>
                                    <p>다음 장소까지 이동 시간 <span>10</span>분</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_detail">
                                <a href="#none">
                                    <strong>어떤 카페</strong>
                                    <span>11:00</span>
                                    <i class="ico_accord"></i>
                                </a>
                                <div class="map_cnt">
                                    <div class="maps"></div>
                                    <p>다음 장소까지 이동 시간 <span>10</span>분</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_detail">
                                <a href="#none">
                                    <strong>어떤 음식점</strong>
                                    <span>13:00</span>
                                    <i class="ico_accord"></i>
                                </a>
                                <div class="map_cnt">
                                    <div class="maps"></div>
                                    <p>다음 장소까지 이동 시간 <span>10</span>분</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list_detail">
                                <a href="#none">
                                    <strong>어떤 숙소</strong>
                                    <span>15:00</span>
                                    <i class="ico_accord"></i>
                                </a>
                                <div class="map_cnt">
                                    <div class="maps"></div>
                                    <p>다음 장소까지 이동 시간 <span>10</span>분</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--// 여행 일정 리스트 -->
            </div>
            <!--// 컨텐츠 -->
        </div>
        <script src="../public/js/calendar.js"></script>
        <script>
            // 아코디언 메뉴
            document.querySelectorAll('.container_tripdetail ul li').forEach(function(item, index) {
                item.addEventListener('click', function() {
                    // 클릭한 요소에 'on' 클래스를 추가 또는 제거하여 토글 기능 구현
                    this.classList.toggle('on');
                
                    // 다른 요소들의 'on' 클래스 제거
                    const siblings = this.parentElement.children;
                    for (let i = 0; i < siblings.length; i++) {
                        if (siblings[i] !== this && siblings[i].classList.contains('on')) {
                            siblings[i].classList.remove('on');
                        }
                    }
                    // 클릭한 요소의 맵 표시
                    const maps = document.querySelectorAll('.map_cnt');
                    for (let i = 0; i < maps.length; i++) {
                        maps[i].style.display = 'none';
                    }
                    // 클릭한 요소의 인덱스에 해당하는 맵만 표시
                    if (this.classList.contains('on')) {
                        maps[index].style.display = 'block';
                    }
                });
            });
        </script>
    </body>
</html>


