<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>일정 리스트</title>
        <link rel="stylesheet" href="../public/css/reset.css" />
        <link rel="stylesheet" href="../public/css/common.css" />
        <link rel="stylesheet" href="../public/css/trip.css" />
        <!-- <link rel="stylesheet" href="../public/css/main.css" /> -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="wrap" class="trip_list">
            <!-- 헤더 -->
            <header class="mo_header">
                <nav class="gnb">
                    <ul class="main_menu">
                        <li>
                            <a href="#none" class="ico_back">
                                <span class="blind">뒤로 가기</span>
                            </a>
                        </li>
                        <li>
                            <a href="#none" class="ico_ham">
                                <span class="blind">메뉴</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!--// 헤더 -->

            <div class="main">
                <!-- 달력 일자 선택 -->
                <div class="container_calendar">
                    <div class="calendar_box">
                        <div id="year">
                            <select id="selectYear" aria-placeholder="연도"></select>
                        </div>
                        <div id="month">
                            <select id="selectMonth" aria-placeholder="월"></select>
                        </div>
                    </div>
                    <div id="departure"></div>
                    <div id="arrive"></div>
                    <div id="calendar"></div>
                </div>
                <!--// 달력 일자 선택 -->

                <!-- 여행 일정 리스트 -->
                <div class="container_upcoming">
                    <ul>
                        <li>
                            <div class="trip_schedule">
                                <a href="#none">
                                    <p>Session 1</p>
                                    <strong>부산여행</strong>
                                    <span>March 21 , 2021 - 8 AM</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="trip_schedule">
                                <a href="#none">
                                    <p>Session 2</p>
                                    <strong>제주도 여행</strong>
                                    <span>March 21 , 2021 - 10 AM</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="trip_schedule">
                                <a href="#none">
                                    <p>Session 3</p>
                                    <strong>Lunch</strong>
                                    <span>March 21 , 2021 - 1 PM</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="trip_schedule">
                                <a href="#none">
                                    <p>Session 4</p>
                                    <strong>Break</strong>
                                    <span>March 21 , 2021 - 2 PM</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--// 여행 일정 리스트 -->
            </div>
        </div>
        <script src="../public/js/calendar.js"></script>
    </body>
</html>

