.mo_header {position: fixed; top: 0; padding: 15px 20px; width: 100%; height: 52px; background-color: #fff; box-shadow: 0 0 1px #ccc; z-index: 1000;}
.mo_header .gnb .main_menu {display: flex; justify-content: space-between; align-items: center;}
.mo_header .gnb .main_menu li a {display: block; width: 24px; height: 24px; background-size: cover; background-repeat: no-repeat;}
.mo_header .gnb .main_menu li a.ico_back {height: 12px; background-image: url('../img/common/ico_arrow.png');}
.mo_header .gnb .main_menu li a.ico_ham {background-image: url('../img/common/ico_ham.png');}

/* 메인 컨텐츠 */
.container_calendar .calendar_box {display: flex; justify-content: space-around; align-items: center;}
.container_calendar select {padding: 20px; border: none; cursor: pointer; font-size: 2rem;}


/* 달력 */
#month h2 {font-size: 20px; margin: 0px;}

/* .icon1 {position: relative; margin-right: 10px; width: 20px; margin-top: 23px; margin-bottom: 20px;}*/
.container_calendar table {width: 100%; border-collapse: collapse; border: none; text-align: center;}
.container_calendar th,
.container_calendar td {padding: 8px;}

.container_calendar .date:hover {background-color: rgb(200, 194, 194); border-radius: 10%; color: black;}

/* 오늘 날짜 배경색 지정 */
.container_calendar #today {color: rgb(255, 153, 0);}

.date_box {display: flex; justify-content: space-evenly; align-items: center; padding: 20px 0;}
.date_box div {font-size: 2rem;}

#schedule-form {padding: 20px 0;}
#schedule-form input {margin-bottom: 20px; font-size: 1.2rem;}
#schedule-form label {margin-bottom: 12px; font-size: 1.2rem; font-weight: 700; color: #333;}
#schedule-form textarea {padding: 1.2rem; font-size: 1.2rem; line-height: 1.4rem; resize: none;}
#schedule-form input::placeholder, #schedule-form textarea::placeholder {color: #8d8d8d;}

.input_txt {position: relative;}
#memberSearch {position: relative;}

/* 버튼 스타일 - btn_ */
.input_wrap {position: relative;}
.input_wrap .btn_holder {position: absolute; border: none; top: 50%; transform: translateY(-50%); right: 22px; width: 22px; height: 22px; background-size: cover; background-position: center; background-repeat: no-repeat; background-color: #fff; cursor: pointer;}
.input_wrap .btn_holder.btn_search {background-image: url("../img/common/ico_search.png");}
.input_wrap .btn_holder.btn_marker {background-image: url("../img/common/ico_marker.png"); width: 20px; height: 27px;}

.btn_trip {background-color: #2fcc59;}
.btn_trip span {position: relative; color: #fff;}
.btn_trip span::before {content: ''; position: absolute; left: -20px; top: 50%; transform: translateY(-50%); margin: 0; width: 12px; height: 12px; background: url('../img/common/btn_plus.png') center/cover no-repeat;}

.calendar .container_schedule .ico_back {transform: rotate(180deg); background-image: url("../img/common/ico_arrowb.png");display: block;width: 24px;height: 12px;background-size: cover;background-repeat: no-repeat;}

