body {
    position: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 390px;
    margin: 0 auto;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* 달력 */

#month {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#month h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
}

.icon1 {
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 10px;
    width: 20px;
    margin-top: 23px;
    margin-bottom: 20px;
}

.calendarBox table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}

.calendarBox th {
    border: none;
    height: 30px;
    padding: 8px;
    font-weight: normal;
    text-align: center;
}

.calendarBox td {
    border: none;
    height: 70px;
    padding: 8px;
    text-align: center;
}
.calendarBox .date:hover {
    background-color: rgb(200, 194, 194);
    border-radius: 10%;
    color: black;
}

/* 오늘 날짜 배경색 지정 */
.calendarBox #today {
    color: rgb(255, 153, 0);
}
