/* 메인 컨텐츠 */
.container_calendar .calendar_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container_calendar select {
    padding: 20px;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
}

/* 달력 */
#month h2 {
    font-size: 20px;
    margin: 0px;
}
.container_calendar {
    width: 100%;
    text-align: center;
}
.container_calendar table {
    width: 100%;
}
.container_calendar tr > th:last-child,
.container_calendar tr > td:last-child {
    color: #278eff;
}
.container_calendar tr > th:first-child,
.container_calendar tr > td:first-child {
    color: #ff0000;
}
.container_calendar td {
    width: 14.28%;
    padding: 4%;
    font-size: 1.2rem;
    cursor: pointer;
}
.container_calendar td.active {
    background-color: #278eff;
    color: #fff;
}
.container_calendar td.on {
    background-color: #278eff;
    color: #fff;
}
.container_calendar td:hover {
    background-color: #b3d0ee;
}

/* 오늘 날짜 배경색 지정 */
.container_calendar #today {
    color: #2fcc59;
    font-weight: 700;
}

.date_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}
.date_box div {
    font-size: 2rem;
}

.schedule-form {
    padding: 20px;
}
.schedule-form input {
    font-size: 1.2rem;
}
.schedule-form label {
    margin-bottom: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
}
.schedule-form textarea {
    padding: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    resize: none;
}
.schedule-form input::placeholder,
.schedule-form textarea::placeholder {
    color: #8d8d8d;
}

.input_txt {
    position: relative;
}
#memberSearch {
    position: relative;
}

/* 버튼 스타일 - btn_ */
.input_wrap {
    position: relative;
}
.input_wrap .btn_holder {
    position: absolute;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    width: 22px;
    height: 22px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}
.input_wrap .btn_holder.btn_search {
    background-image: url('../img/common/ico_search.png');
}
.input_wrap .btn_holder.btn_marker {
    background: url('../img/common/ico_marker.png') no-repeat 100% 100% /
        contain;
    right: 16px;
    width: 20px;
    height: 27px;
}

.calendar .container_schedule .ico_back {
    transform: rotate(180deg);
    background-image: url('../img/common/ico_arrowb.png');
    display: block;
    width: 24px;
    height: 12px;
    background-size: cover;
    background-repeat: no-repeat;
}
.calendar .container_schedule .schedule-form {
    padding: 20px 0;
}

.map {
    width: 100%;
    height: 80vw;
}

/* #wrap.create_sch {padding: 0 20px;} */
.detail-schedule {
    position: relative;
    padding-bottom: 20px;
}
.detail-schedule input.index {
    padding-left: 0;
    margin-bottom: 0;
    border: none;
    background: transparent;
    font-weight: 700;
}

.detail-schedule .result {
    position: relative;
    padding: 40px 20px;
}
.detail-schedule + .detail-schedule .result.active::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 10px;
    height: 70px;
    background: url(../img/common/ico_arrowlong.svg) center / cover no-repeat;
}

#wrap.maps_wrap {
    padding-bottom: 0;
}
.maps_wrap .tab_menu {
    padding-bottom: 0;
    overflow-x: scroll; /*-ms-overflow-style: none; */
}
.maps_wrap .tab_menu::-webkit-scrollbar {
    display: none;
}
.maps_wrap .tab_menu li a {
    font-size: 1.3rem;
}
.maps_wrap .select.active {
    padding: 18px 20px;
    margin-bottom: 20px;
    border: 1px solid #ececec;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #278eff;
    cursor: pointer;
}
.maps_wrap .select.active:hover {
    background-color: #278eff;
    color: #fff;
}
.maps_wrap .map {
    margin-bottom: 20px;
}

.create_btnwrap {
    margin: 0 20px;
    padding-bottom: 52px;
}
.create_btnwrap .btn:first-child {
    margin-top: 0;
}

.input_wrap input.index {
    width: auto;
}
.btn_delete {
    position: absolute;
    right: 0;
    bottom: 10px;
    border-style: none;
    background: transparent;
    cursor: pointer;
}
.btn_delete::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: #ccc;
    border-radius: 8px;
}
.btn_delete::after {
    content: '';
    display: block;
    width: 15px;
    position: relative;
    left: 8px;
    top: -16px;
    height: 3px;
    background: #fff;
}
/* 달력 화살표 */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.go-prev {
    transform: scaleX(-1);
}
