body {background: #e1efff; min-height: 100vh;} 
form {position: relative; padding: 20px;} 
input {background: #f2f2f2; border-radius: 2rem; border: none; margin: 0;} 
form button {position: absolute; top: 50%; right: 2rem; transform: translateY(-50%); width: 2rem; height: 2rem; overflow: hidden; border: none; background-color: transparent; background: transparent url('../img/common/ico_sendchat.png') no-repeat 100% 100% / contain; color: transparent;} 
#main {margin: 20px;} 

.chatBox {width: 100%; display: flex; margin-bottom: 1rem;} 
.enter {width: 100%; line-height: 2; text-align: left; padding: 1.5rem 2rem; background: #fff; border: none; border-radius: 0.8rem; box-shadow: 0 4px 120px 0 rgba(58, 86, 78, 0.15);} 
.tit {position: fixed; top: 0; left: 0; width: 100%; height: 5rem; line-height: 7rem; font-size: 1.5rem; text-align: center; font-weight: 700; background: #fff;} 
.chatName {line-height: 5rem;} 
.golist {position: absolute; top: 50%; left: 0; transform: translateY(-50%);} 
.msg {padding: 6rem 20px;} 
#chat-form {position: fixed; bottom: 0; left: 0; width: 100%; margin: 0; background: #fff;} 
#chatMsg {height: 4rem; line-height: 1.2;} 

.me {display: flex; flex-direction: column; align-items: flex-end; margin: 0.4rem 0;} 
.you {display: flex; flex-direction: column; align-items: flex-start;} 
.writer {line-height: 2; padding: 0 0.9rem;} 
.me .writer {display: none;} 

.message {line-height: 2; padding: 0.4rem 1rem; box-shadow: 0 4px 120px 0 rgba(58, 86, 78, 0.15);} 
.me .message {background: #278eff; border-radius: 0.8rem 0.8rem 0 0.8rem; max-width: 60vw; color: #fff;} 
.you .message {background: #fff; border-radius: 0.8rem 0.8rem 0.8rem 0; max-width: 60vw;} 
