@font-face {
    font-family: 'SUITE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'SUITE', sans-serif;
    color: #333;
}
body {
    min-width: 320px;
}

/* form */
form {
    margin: 0 20px;
}
label {
    display: block;
    color: #666;
    margin-bottom: 8px;
}
input {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: 'SUITE', sans-serif;
    line-height: 4rem;
    padding-left: 1.2rem;
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'SUITE', sans-serif;
    line-height: 4rem;
    background: #278eff;
    color: #fff;
    border: none;
    border-radius: 10px;
}
