@charset "utf-8";
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Pretendard', sans-serif !important;
}

body {position: relative; min-width: 320px; padding-bottom: 40px;} 
h3 {margin-bottom: 16px; font-size: 1.2rem; font-weight: 700;} 

.hide,
.blind {display: none;} 

/* form */
label {display: block; margin-bottom: 8px; font-size: 1.2rem; color: #666;} 
input, textarea {display: block; width: 100%; font-size: 1rem; font-family: 'Pretendard', sans-serif; line-height: 4rem; padding-left: 1.2rem; border: 1px solid #999; border-radius: 10px; margin-bottom: 10px; box-sizing: border-box;} 
input[type="checkbox"] {display: block; width: 100%; font-size: 1rem; font-family: 'Pretendard', sans-serif; line-height: 4rem; padding-left: 1.2rem; border: 1px solid #999; border-radius: 10px; margin-bottom: 10px; box-sizing: border-box;} 
.btn {width: 100%; margin: 20px 0 0 0; padding: 0; font-size: 1rem; font-family: 'Pretendard', sans-serif; line-height: 4rem; background: #278eff; color: #fff; border: none; border-radius: 10px; cursor: pointer;} 

/* 공통 - 레이아웃 */
#wrap {position: relative; overflow: hidden; padding-bottom: 52px;} 
[class^="container_"] {padding-bottom: 40px; } 
.main {margin-top: 10px; padding: 0 20px;}
input[type="time"]::-webkit-calendar-picker-indicator {background: none;}

/* 헤더 */
.header {padding: 20px; width: 100%; height: 64px; background-color: #fff; box-shadow: 0 0 1px #ccc;}
.header .gnb .sub_menu {display: flex; justify-content: space-between; align-items: center;}
.header .gnb .sub_menu li a {display: block; width: 24px; height: 24px; background-size: cover; background-repeat: no-repeat;}
.header .gnb .sub_menu li a.ico_back {height: 12px; background-image: url('../img/common/ico_arrow.png');}
.header .gnb .sub_menu li a.ico_ham {background-image: url('../img/common/ico_ham.png');}

/* 메인 헤더 */
.header h1 {font-weight: 900; text-align: center;} 
.header h1 a {font-size: 1.6rem;} 
.header h1 a img {width: 150px;}
.header .gnb {position: relative;}
.header .gnb .main_menu {position: absolute; left: 50%; transform: translateX(-50%);}
.header .gnb li a:hover {color: #278eff;}
.header .gnb,
.header .gnb .main_menu,
.header .gnb .sub_menu {display: flex; justify-content: space-between; align-items: center;}
.header .gnb .main_menu li + li {margin-left: 28px;}
.header .gnb .main_menu li a {font-size: 1.2rem;}
.header .gnb .sub_menu li div {display: block; width: 24px; height: 24px; background-size: cover; background-repeat: no-repeat;}
.header .gnb .sub_menu li a.ico_ham {display: none;}
.header .gnb .sub_menu li .login_wrap {display: flex;}
.header .gnb .sub_menu li .login_wrap li + li {margin-left: 10px;}
.header .gnb .sub_menu li .login_wrap li a {width: initial;}

/* 공통 - 하단 메뉴 */
.btn_wrap {position: fixed; bottom: 0; padding: 15px 20px; width: 100%; background-color: #fff; box-shadow: 0 0 1px #ccc; z-index: 30;} 
.btn_wrap ul {display: flex; justify-content: space-between; align-items: center;} 
.btn_wrap ul li a {display: block; width: 24px; height: 24px; background-size: cover; background-repeat: no-repeat;} 
.btn_wrap ul li a.ico_home {background-image: url('../img/common/ico_home.svg');} 
.btn_wrap ul li a.ico_maps {background-image: url('../img/common/ico_maps.svg');} 
.btn_wrap ul li a.ico_chat {background-image: url('../img/common/ico_chat.svg');} 
.btn_wrap ul li a.ico_my {background-image: url('../img/common/ico_my.svg');} 

.btn_wrap ul li.on a.ico_home {background-image: url('../img/common/ico_onhome.svg');} 
.btn_wrap ul li.on a.ico_maps {background-image: url('../img/common/ico_onmaps.svg');} 
.btn_wrap ul li.on a.ico_chat {background-image: url('../img/common/ico_onchat.svg');} 
.btn_wrap ul li.on a.ico_my {background-image: url('../img/common/ico_onmy.svg');} 

/* 내 여행 - 스케줄 박스 */
.trip_schedule {padding: 18px 20px; margin-bottom: 30px; border: 1px solid #ececec; border-radius: 15px;}
.trip_schedule h3 {margin-bottom: 4px;}
.trip_schedule span {display: block;}
.trip_schedule p {margin-top: 10px;}

/* 다가오는 여행 일정 */
.container_upcoming .trip_schedule strong {display: block; padding: 4px 0; font-size: 1.2rem; font-weight: 700;}
.container_upcoming .trip_schedule p {color: #6b6868;}
.container_upcoming .trip_schedule p, 
.container_upcoming .trip_schedule span {margin: 0;}

/* 버튼 스타일 - btn_ */
.btn_trip {background-color: #2fcc59;}
.btn_trip span,
.btn_add span {position: relative; display: inline-block; color: #fff;}
.btn_trip span::before,
.btn_add span::before {content: ''; position: absolute; left: -20px; top: 50%; transform: translateY(-50%); margin: 0; width: 12px; height: 12px; background: url('../img/common/btn_plus.png') center/cover no-repeat;}

/* 버튼 스타일 start */
.btnRow {display: flex; justify-content: space-between;} 
.btnRow button:last-child {margin-right: 0;} 
button.row2 {width: 50%; margin-right: 1rem;} 
button.disable {background-color: #ccc; color: #333;} 

.btn.withdraw,
.btn_logout {color: #fff; background-color: #000;} 

/* 로그인 */
#wrap.login_page .container_login .login_wrap {display: flex; justify-content: space-between; margin: 0 auto; padding-top: 20px; width: 75%;}
#wrap.login_page .container_login .login_wrap li:hover {text-decoration: underline;}

/* 공통 - 마이 페이지 */
.menu_side {position: absolute; padding: 20px; display: none; width: 100%; height: 100%; top: 0; right: 0; z-index: 50;  background-color: #fff;}
.btn_close {position: absolute; right: 20px; margin: 0; width: 24px; height: 24px; background: url('../img/common/btn_close.png') center/cover no-repeat;}
.menu_side .container_myinfo,
.menu_side .container_myinfo .login_wrap {display: flex; align-items: center;}
.menu_side .container_myinfo .login_wrap .info_txt,
.menu_side .container_myinfo .info_txt.nick_name{font-size: 1.2rem; font-weight: 700;}
.menu_side .container_myinfo .my_info {margin-left: 20px;}
.menu_side .container_myinfo .my_info .info_txt {font-size: 1.2rem; font-weight: 700;}
.menu_side .container_myinfo .my_photo {position: relative; width: 100px;}
.menu_side .container_myinfo .my_photo::before {content: ''; position: absolute; bottom: 0; right: 0; width: 30px; height: 30px; border-radius: 50%; background-color: #fff;}
.menu_side .container_myinfo .my_photo::after {content: ''; position: absolute; bottom: 10%; right: 10%; width: 12px; height: 12px; border-radius: 50%; background-color: #3dd34c;}
.menu_side .container_myinfo .my_photo.log_out::after {background-color: #ff0000;}
.menu_side .container_myinfo .login_wrap li + li::before {content: '/ '; margin-left: 4px;}
.menu_side .container_myinfo .btn_retouch {margin-top: 6px; padding: 2px 10px;  line-height: 2rem;}
.menu_side .container_mylist ul li div {position: relative; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #D5DDE0; cursor: pointer;}
.menu_side .container_mylist ul li div a {font-size: 1.2rem;}
.menu_side .container_mylist i.ico_accord {position: absolute; top: -5px; right: 0; transform: rotate(270deg); width: 30px; height: 30px; background: url('../img/common/ico_accord.png') center/cover no-repeat;}

/* 버튼 스타일 - btn_ */
.input_wrap {position: relative;} 
.input_wrap .btn_holder {position: absolute; border: none; top: 50%; transform: translateY(-50%); right: 22px; width: 22px; height: 22px; background-size: cover; background-position: center; background-repeat: no-repeat; background-color: transparent; cursor: pointer;} 
.input_wrap .btn_holder.btn_search {background-image: url('../img/common/ico_search.png');} 
.input_wrap .btn_holder.btn_marker {background: url('../img/common/ico_marker.png') no-repeat 100% 100% / contain; right: 16px; width: 20px; height: 27px;} 

.btn_delete {position: absolute; right: 0; bottom: 10px; border-style: none; background: transparent; cursor: pointer;}
.btn_delete::before {content: ''; display: block; width: 30px; height: 30px; background:#ccc; border-radius: 8px;}
.btn_delete::after {content: ''; display: block; width: 15px; position: relative; left: 8px; top: -16px; height: 3px; background: #fff;}
.trip_list .trip_schedule .btn_delete {position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border-style: none; background: transparent; cursor: pointer;}

.main_wrap .btn_trip {background-color: #278eff;}

/* 푸터 #footer */
#footer {position: relative; background-color: #f6f6f6;}
#footer h3 {font-size: 1.4rem;}
#footer ul {position: relative; display: flex; justify-content: space-between; align-items: center; padding: 20px; max-width: 1200px; margin: 0 auto;}
#footer ul span {margin-left: 10px;}
#footer ul p,
#footer ul address {color: #838383;}
#footer ul li {width: 100%;}
#footer ul li + li div {display: flex; flex-wrap: wrap; justify-content: flex-end;}
#footer ul li + li div p {padding-top: 30px;}
#footer ul li div a {display: flex; justify-content: flex-end; margin-left: 20px; text-decoration: underline;}