/* 모바일, 태블릿 기준 - 764 사이즈 */
@media screen and (max-width: 764px) {
    .main_wrap .mo_header .gnb .main_menu,
    .main_wrap .mo_header .gnb .sub_menu li .login_wrap {display: none;}
    .main_wrap .mo_header .gnb .sub_menu li a.ico_ham {display: block;}
    .container_rec ul li .rec_cnt {height: 60vw !important;}
    #logo{width: 30%;}

}

/* PC 기준 - 1024 사이즈 */
@media screen and (min-width: 1024px){
    [class^="container_"] {width: 50%; max-width: 1200px; margin: 0 auto;}
    [class^="container_"].container_category {display: none !important;}
    .container_trip,
    .container_rec,
    .container_category,
    .container_upcoming,
    .container_best {width: 100% !important; overflow: hidden;}

    .maps_wrap .tab_menu {justify-content: center;}

    #logo{width: 16%;}
    
    .container_trip ul,
    .container_rec ul,
    .container_category ul,
    .container_upcoming ul,
    .container_best ul {display: flex; flex-direction: row;}

    .main_wrap .mo_header {position: fixed; z-index: 100; box-shadow: initial;}
    .main_wrap .mo_header .gnb {max-width: 1200px; left: 50%; transform: translateX(-50%);}
    .main_wrap .main {margin-top: 65px; padding: 0;}
    .main_wrap .main h3 {font-size: 1.3rem; padding: 30px 0 20px;}
    .main_wrap .main_bg {background: url('../img/main/bg_main.png') no-repeat center / 100%;}
    .container_trip {position: relative; padding: 52px 0; margin-bottom: 10px !important;top: 50px;}
    .container_trip .trip_box {display: flex; justify-content: space-around; padding: 25px 50px; width: 65%; border-radius: 15px; background-color: rgb(255, 255, 255, 0.6);}
    .container_trip .trip_box .trip_cnt {width: 50%;}
    .container_trip .trip_new {position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 29%; max-width: 290px;}
    .container_trip .trip_new .btn {margin-top: 0; height: 100px; line-height: initial; background-color: rgb(255, 255, 255, 0.6);}
    .container_trip .trip_new .btn span {left: 12px; font-size: 1.3rem; font-weight: 700; color: gray;}
    .container_trip .trip_new span::before {content: ''; position: absolute; background: url('../img/common/btn_plusb.png') center/cover no-repeat;}

    .trip_schedule {min-width: 250px;}
    .trip_supplies .input_chk {margin: 0 0 16px;}
    .trip_supplies h3 {font-size: 1.4rem !important;}

    .container_best ul,
    .container_upcoming ul {flex-wrap: wrap;}
    .container_upcoming ul li {margin-right: 10px;}
    .container_best ul {justify-content: space-between;}
    .container_best ul li {width: 32%;}
    
    .maps_wrap .schedule-form,
    .create_btnwrap {margin: 20px auto; padding: 0 20px; width: 50%;}

    .trip_list .container_upcoming ul,
    .btnadd_wrap {margin: 0 auto; width: 50%; justify-content: space-between;}
    .trip_list .container_upcoming ul li {width: 48%; margin-right: 0;}
    
    .btn_wrap {display: none;}
}


