h1 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 900;
    margin-bottom: 10px;
}
p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.diffPw {
    color: #ff0000;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

/* 버튼 스타일 start */
.btnRow {
    display: flex;
    justify-content: space-between;
}
.btnRow button:last-child {
    margin-right: 0;
}
button.row2 {
    width: 50%;
    width: 50%;
    margin-right: 1rem;
}
button.disable {
    background-color: #ccc;
    color: #333;
}
button.withdraw {
    display: block;
    background: none;
    border: none;
    color: #278eff;
    line-height: 1.5;
    text-align: center;
    margin: 20px auto;
}
/* 버튼 스타일 end */
